html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app {
  padding: 10px;
}

#message-area {
  height: 750px;
  overflow-y: auto;
  padding: 5px;
}

.text-area {
}

.text-input {
  display: block;
  width: 100%;
  padding: 0;
  resize: none;
  overflow: hidden;
  height: auto;
  font-size: medium;
}

.text-input:focus {
  display: block;
  outline: none;
}

.message-block {
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}

.request-name-text {
  margin-bottom: 25px;
}
